
body {
    padding-top:0;
    background-color:lightgray;
    
    
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 6px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}

.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}
#abc{
    
margin-left: 35%;    
margin-right: 35%;
height: 200;
    display: flex;

    justify-content:center;
    border:black;
    font-size: medium;
    
}







